body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    display: grid;
    justify-content: center;
}

a {
    text-decoration: none;
}

.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    min-width: 50vw;
    width: 100%;
}

h1 {
    margin-bottom: 1rem;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

.info {
    color: green;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: #28a745;
    border: 1px solid #28a745;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    display: none;
}

.contact {
    max-width: 600px;
    min-width: 50vw;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 200px;
}